<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index ARO</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ asset('favicon.ico') }}" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{{ asset('bundles/ocindex/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{{ asset('bundles/ocindex/css/style.css') }}" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Bell
      Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
  </head>

  <body>
    <!-- Page Content
    ================================================== -->
    <!-- Hero -->

    <section class="hero">
      <div class="container text-center">
        <div class="col-md-12">
          <h1>
            Index ARO
          </h1>
          <p class="tagline">
            Partager vos cours, synthèses et conseilles rapidement.
          </p>
          <a class="btn btn-full" href="{{ path('panel_index') }}">C'est partit</a>
        </div>
      </div>
    </section>

    <script src="{{ asset('bundles/ocindex/lib/bootstrap/js/bootstrap.min.js') }}"></script>

  </body>
</html>
